@import './variables';

#nav {
    padding: 0 40px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;

    #button1 {
<<<<<<< HEAD
        background-color: white;
=======
    background-color: white;
>>>>>>> bca0b93cae3596a138bb32177962a78da8377bee
        border: 2px solid white;
    }

    #button2 {
        background-color: black;
        color: white;
        border: 2px solid black;
    }

    #three_lines {
        border-radius: 15px;
        border-color: white;
        float: left;
        margin-top: 20px;

        &:hover {
            background-color: white;
        }
    }

    button {
        border-radius: 15px;
        padding: 4px;
        font-size: fontSize(small);
    }

}

#button2,
#button1 {
    float: right;
    margin: 20px 25px 0 10px;
    flex-grow: 0;
    cursor: pointer;
    justify-content: flex-end;
    font-size: fontSize(xsmall);
    border-radius: 15px;
}