.baner_kraje {
    @include baner;

    a {
<<<<<<< HEAD
     @include banerA;
=======
        @include banerA;
>>>>>>> bca0b93cae3596a138bb32177962a78da8377bee
    }
}

.kraje_ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;

    ul {
        line-height: 44px;
        list-style: none;
        font-size: fontSize(medium);
    }
}

#kraje_p {
    text-align: center;
}