$position: relative;
$textDecoration: none;
$color: black;
$alignItems: center;
$lineHeight: 44px;
$fontSize: (
    "big":52px,
    "large":36px,
    "medium":19px,
    "small":16px,
    "xsmall": 14px
);

@function fontSize($fontSize-name) {
    @return map-get($fontSize, $fontSize-name )
}

@mixin baner {
    padding: 0 40px;
    width: 100%;
}
@mixin banerA{
    position: $position;
        bottom: 20px;
        cursor: pointer;
        font-size: fontSize(small);
        float: right;
        text-decoration: underline;
}