
.zdjecia img{
    height: 330px;
    width: 590px;
}
.utworz,
.dodaj,
.rejestracja {
    float: left;
    display: block;
    margin-left: 0;
    cursor: pointer;
    padding-right: 24px;
}

#mapa-png{
    margin-left: 45px;
    margin-top: 20px;

} 
#kraje-p{
    text-align: center;
}

#apple-logo{
    height: 40px;
    width: 135px;
    margin-top: 6px;
}
#google-logo{
    height: 50px;
    float: left;
}
