#mapa-png {
    margin-left: 45px;
    margin-top: 20px;

}

.baner-miasta {
    padding: 0 40px;
    width: 100%;
}

.baner-miasta a {
    position: relative;
    bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    float: right;
}

.miasta {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
}

.miasta ul {
    list-style: none;
    line-height: 44px;
    width: 100%;
    font-size: 20px;
}