* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.space_between_big {
    height: 370px;
}

.space_between {
    height: 170px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0;
}

main {
    align-items: center;
    clear: both;
    width: 100%;
}

ul a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}


#apple_logo {
    height: 40px;
    width: 135px;
    margin-top: 6px;
}

#google_logo {
    height: 50px;
    float: left;
}

#logo_png {
    margin-bottom: 240px;
}

.logos {
    position: relative;
    right: 220px;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.footer_space {
    width: 16px;
}

#hr {
    border: 1px solid rgba(150, 150, 150, 0.089);
}