* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
}

a {
    color: black;
}

.space-between-big {
    height: 370px;
}

.space-between {
    height: 170px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 0;
}

main {
    align-items: center;
    clear: both;
    width: 100%;
}

.baner-kraje {
    display: block;
    padding: 0 40px;
    width: 100%;
}



ul a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.krajeUl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.krajeUl ul {
    line-height: 44px;
    list-style: none;
    font-size: 20px;
}

footer .uber-eats-footer {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}

.footer-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 224px;
    margin-bottom: 20px;
}

#logopng {
    margin-bottom: 240px;
}

.logos {
    position: relative;
    right: 220px;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.uber-eats-ul ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    float: right;
    gap: 24px;
    padding: 0;
    list-style: none;
}

.uber-eats-ul ul li {
    cursor: pointer;
}

.footer-end {
    margin-top: 40px;
}

.footerLogos a img {
    height: 19px;
    padding-right: 25px;
    float: left;
}

.footer-end-opcje {
    display: flex;
    gap: 24px;
    padding-left: 25px;
}

.footer-end-opcje a {
    text-decoration: none;
}

.footer-space {
    width: 16px;
}

footer {
    border-top: 1px solid grey;
    padding: 72px 0 88px;
    margin-top: 80px;
}

#politykaPrywatnosci {
    float: inline-start;
    gap: 40px;
}

.footer-end a {
    text-decoration: none;
}

#hr {
    border: 1px solid rgba(150, 150, 150, 0.089);

}

.footer-end a:hover {
    text-decoration: underline;
}

#uberTechnologies {
    float: inline-end;
}